<style>
    #funcs {
            position: absolute;
            right:0;
            top:0;
        }
    </style>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <p></p>
    
    <div id="funcs">
        <button class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#addModal"><i class="material-icons">add</i></button>
        <button class="btn btn-sm btn-primary mr-2"><i class="material-icons">autorenew</i></button>
    </div>
    
    <table class="table table-inverse table-hover" id="accounts_table">
        <thead>
          <tr>
            <th scope="col"><font color="#007BFF">Username</font></th>
            <th scope="col"><font color="#007BFF">Email</font></th>
            <th scope="col"><font color="#007BFF">Password</font></th>
            <th scope="col"><font color="#007BFF"></font></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of Users">
            <td>{{data["Username"]}}</td>
            <td>{{data["Email"]}}</td>
            <td>{{data["Password"]}}</td>
            <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal"
                (click)="getTabledata(data)"><i class="material-icons">edit</i></button></td>
          </tr>
        </tbody>
        <button class="btn btn-primary" (click)="getTabledata()" >checkit</button>
      </table>
    
    <div class="modal" id="editModal">
        <div class="modal-dialog">
          <div class="modal-content">
    
            <div class="modal-header">
              <h4 class="modal-title">Edit Account</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" [(ngModel)]='eUsers.Username' name="Username">
                </div>
                
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" [(ngModel)]='eUsers.Email' name="Email" disabled>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" class="form-control" [(ngModel)]='eUsers.Password' name="Password">
                </div>
            </div>
    
            <div class="modal-footer">
                <button class="btn btn-secondary btn-lg mr-2" data-dismiss="modal">Close</button>
                <button (click)="editUser()" type="button" class="btn btn-primary btn-lg">Update</button>
            </div>
    
          </div>
        </div>
      </div>
    
    
    
      <!-- Add Account Modal -->
    
      <div class="modal" id="addModal">
            <div class="modal-dialog">
              <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Add Account</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                    <div class="form-group">
                        <label for="">Account Name</label>
                        <input type="text" class="form-control rounded-0" [(ngModel)]="userDetails.username" name="Username" required>
                    </div>
                    <!--
                        <div class="form-group">
                        <label for="">Location</label>
                        <input type="text" class="form-control" [(ngModel)]="newaccount.Region" name="Region" required>
                    </div>
                    <div class="form-group">
                        <label for="">Location</label>
                        <select class="form-control" [(ngModel)]="newaccount.Region" name="Region" required>
                            <option *ngFor="let region of endPoints">{{region}}</option>
                        </select>
                    </div>
                    -->
                    
                    
                    <div class="form-group">
                        <label for="">ID</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="userDetails.password" name="password" required>
                    </div>
                    </form>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-lg mr-2" data-dismiss="modal">Close</button>
                    <button (click)="addUser()" type="button" class="btn btn-primary btn-lg">Add</button>
                </div>
    
              </div>
            </div>
          </div>